auto-closing-glass-door/node_modules/
elevating-platform/node_modules/
elevating-platform-2/node_modules/
platform_scifi_vertical/node_modules/
elevating-platform-utc/node_modules/
*/node_modules/
node_modules/
*.env
